body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#pic-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-size: cover; /* Ensures the background image covers the entire container */
    background-position: center; /* Centers the background image */
}

textarea {
    margin-top: 20px;
    width: 80%;
    height: 100px;
}
